
/* BANNER IMAGE */

/* Read mode */
.pretty-banner div .el-h1 img {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%); 
    width: 100%; 
    max-height: 200px; 
    object-fit: cover; 
    background-position:center;
  }

/* Edit mode */
.pretty-banner div .HyperMD-header img {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%); 
    width: 100%; 
    max-height: 200px; 
    object-fit: cover; 
    background-position:center;
  }
  